<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"/> 
    <title>Page Template</title>
    <link rel='stylesheet' href={{ '/global-style.css' | absolute_url }}/>
    <script src="https://kit.fontawesome.com/1c73a8b5f8.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href={{ '/favicon.ico' | absolute_url }} rel='icon'/>
  </head>

  <body>
    <div class='page'>

      <div class='header-container'>
        <div class='header'>

          <div class='header-pic'>
            <div class='profile-image'><img src={{ '/images/me_banner_2.png' | absolute_url }}/></div>
          </div>

          <h1 class='header-title'><a href={{ '/index.html' | absolute_url }}>jaubin.net</a></h1>

          <div class='social-links-container'>
            <div class='social-links'>
              <a target='_blank' href='http://github.com/JOBBIN9422'><i class="fab fa-github"></i></a>
              <a target='_blank' href='https://www.linkedin.com/in/james-aubin-024785155/'><i class="fab fa-linkedin"></i></a>
              <a target='_blank' href='mailto:jaubin9422@gmail.com'><i class="fa fa-envelope"></i></a>
            </div>
          </div>

        </div>
      </div>


      <div class='main-content-container'>

        <div class='page-entry'>
          <h1>{{ page.title }}</h1>
		  {{ content }}
        </div>

        <div class='footer'>
          <hr/>
          <ul>
            <li><a href={{ '/index.html' | absolute_url }}>Home</a></li>
            <li><a href='mailto:jaubin9422@gmail.com'>Contact Me</a></li>
          </ul>
          <img src={{ '/images/vim_created_wq.gif' | absolute_url }}/>
        </div>

      </div>

    </div>
  </body>
</html>
